
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  justify-content: space-around;
  flex-direction: row;

}

.video-item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
