<mat-card class="video-form">
<form [formGroup]="videoForm" (ngSubmit)="formAction()">

  <!--<div *ngIf="videoForm.get('videoUrl').errors | async">
    Invalid Video URL
  </div>-->
  <h3>Ajouter une vidéo</h3>
  <div class="form-group">
    <label for="video">Url de la vidéo</label>
    <input type="url" name="video" id="video" class="form-control" [formControl]="videoUrl" required="true">
  </div>
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Cette vidéo existe déjà !
  </p>

  <div class="form-group">
    <label for="title">Titre de la vidéo</label>
    <input type="text" name="title" id="title" class="form-control" [formControl]="title" required="true">
  </div>

  <div class="form-group">
    <label for="desc">Description de la vidéo</label>
    <textarea row="5" name="desc" id="desc" class="form-control" [formControl]="desc"></textarea>
  </div>
  <div class="d-flex justify-content-around">
    <button type="submit" class="btn btn-primary">Ajouter la vidéo</button>
    <button type="button" class="btn btn-primary" routerLink="/videos">Annuler</button>
  </div>

</form>
</mat-card>
