<html>
  <head>

  </head>
  <body>
  <button mat-button aria-label="Page d'accueil" routerLink="/videos">
    <mat-icon>ondemand_video</mat-icon>
    <span></span>
  </button>
  <button mat-button aria-label='Ajouter une vidéo' routerLink="/video/add">
    <mat-icon>playlist_add</mat-icon>
    <span> Ajouter une vidéo</span>
  </button>
  <br>

  <router-outlet></router-outlet>

    <!--<div *ngFor="let v of videos | async">
      <h3><a href="#">{{v.title}}</a> </h3>
      <p>{{v.desc}}</p>
    </div>

    <div *ngIf="video">
      Hola
      <h3><a href="#">{{video.title}}</a> </h3>
      <p>{{video.description}}</p>
    </div>

    <button mat-button aria-label='Ajouter une vidéo'>
      <mat-icon>playlist_add</mat-icon>
      <span> Ajouter une vidéo</span>
    </button>-->

  </body>
</html>
<head></head>


