<div class="video-details-container">
  <mat-card class="video-details">
    <div class="details" *ngIf="video">
      <button mat-button routerLink="/video/update/{{video.id}}">
        <mat-icon>mode_edit</mat-icon>
        <span>Modifier</span>
      </button>
      <mat-card-header>
        <iframe *ngIf="embed" width="800" height="400" [src]='embed' allowfullscreen>
        </iframe>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{video.title}}</mat-card-title>
        <p>{{video.desc}}</p>
      </mat-card-content>
    </div>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
